<!-- blog post -->
<section class="section">
  <!-- <div class="container"> -->
    <!-- <h2 class="text-center">Recent Recipes</h2>   -->
  <!-- </div> -->

  <div class="container card-columns">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
    <div>
      {{ range $paginator.Pages }}
      <div class="card border-light">
        <article class="text-center">
          <a href="{{.Permalink}}"><img class="card-img-top img-fluid mb-4" src="{{.Params.Image | absURL }}" alt="post-thumb"></a>
          <!-- <p class="text-uppercase mb-2">{{.Params.Categories}}</p> -->
          <h4 class="card-title title-border"><a class="text-dark" href="{{.Permalink}}">{{.Title}}</a></h4>
          <p class="card-text">{{.Summary}}</p>
          <a href="{{.Permalink}}" class="btn btn-transparent">read more</a>
        </article>
      </div>
      {{ end }}
    </div>
</section>
    <!-- blog post -->
